/* Predefinições da página */

* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial,  sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
}

img {
    pointer-events: none;
}

button:hover {
    cursor: pointer;
}

.dp-flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dp-flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.margin-0 {
    margin: 0;
}

.mw-20rem {
    max-width: 20rem;
}

.mw-10rem {
    max-width: 10rem;
}

.mw-5rem {
    max-width: 5rem;
}

.wd-50px {
    width: 50px;
}

/* Todos os textos com esta classe serão justificados */
.ta-justify {
    text-align: justify;
}

/* Todas as imagens que possuirem esta classe, não poderão ser arrastadas na página */
.pe-none {
    pointer-events: none;
}

.pos-left {
    position: relative;
    left: 1rem;
}

/* Div da barra de navegação e aba do carrinho */
.shop-nav-container {
    width: 100%;
}

/* Div da barra de navegação e aba do carrinho (menor que 768px) */
@media screen and (max-width: 768px) {
    .shop-nav-container {
        position: fixed;
        z-index: 1;
        top: 0;
    }
}

/* Barra de navegação */
.shop-navigation-bar {
    width: 100%;
    height: 90px;
}

.shop-nav {
    width: 100%;
    height: 90px;
    background-color: rgb(5, 5, 20);
    position: relative;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 15px;
    transition: all 0.3s;
    z-index: 1;
}

/* Tag nav e barra de navegação (menor que 768px) */
@media screen and (max-width: 768px) {
    .shop-navigation-bar, .shop-nav {
        height: 60px;
    }
}

.shop-nav.closed {
    transform: translateY(-90px);
    opacity: 0.7;
}

.shop-nav-flex {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/* Alinhar logo na barra de navegação */
.shop-nav-image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Remover logo quando a tela for menor que 768 pixels */
@media screen and (max-width: 768px) {
    .shop-nav-image-section {
        display: none;
    }
}

/* Alinhar logo e título */
.shop-nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

/* Imagem da logo */
#logo-image {
    width: 30px;
    pointer-events: none;
}

/* Texto da logo */
.logo-text {
    font-size: 14pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: #fff;
}

/* Barra de pesquisa */
.shop-nav-search-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.shop-nav-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.search-bar-div {
    width: 100%;
    padding: 10px 5px;
    border: 0px;
    border-radius: 10px;
}

#search-bar {
    width: 275px;
    height: 20px;
    text-align: justify;
    font-size: 12pt;
    padding: 10px 5px;
    border: 0px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 10px 15px;
}

#search-bar:focus {
    outline: none;
}

#search-button {
    background-color: transparent;
    border: 0;
}

#search-button:hover {
    cursor: pointer;
}

#search-image {
    width: 20px;
}

/* Sessão de cadastro/login */
.shop-nav-cadastro-section {
    height: 100%;
}

/* Remover sessão de cadastro/login quando a tela for menor que 768 pixels */
@media screen and (max-width: 768px) {
    .shop-nav-cadastro-section {
        display: none;
    }
}

/* Login não validado */
.login-not-validated {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

/* Remover sessão de cadastro/login quando a tela for menor que 768 pixels */
@media screen and (max-width: 768px) {
    .login-not-validated {
        display: none;
    }
}

#cadastro-image {
    width: 40px;
}

/* Botões de cadastro */
.cadastro-buttons {
    width: 6rem;
    height: 2.5rem;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
    border-radius: 4px;
    transition: all 0.3s;
}

.cadastro-buttons:hover {
    cursor: pointer;
    filter:invert(0.2);
}

/* Login validado */
.login-validated {
    background-color: transparent;
}

/* Nome de usuário logado */
.login-name {
    font-size: 12pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: #fff;
}

/* Div do carrinho */
.shop-nav-carrinho-section {
    height: 40px;
}

/* Div do carrinho e contador de produtos */
.carrinho-button-div {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.carrinho-button-div span {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10pt;
}

/* Carrinho */
#carrinho-button {
    width: 50px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgb(30, 30, 30);
}

#carrinho-button:hover {
    cursor: pointer;
}

/* Imagem do carrinho */
#carrinho-image {
    width: 20px;
}

/* Barra de categorias */
.shop-categories-bar {
    width: 100%;
    height: 30px;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(250, 250, 250) 100%);
}

/* Remover barra de categorias quando a tela for menor que 768 pixels */
@media screen and (max-width: 768px) {
    .shop-categories-bar {
        display: none;
    }
}

/* Lista de categorias */
.shop-categories-list {
    height: 100%;
    color: #808080;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

/* Items da lista de categorias */
.shop-categories-items {
    height: 100%;
    font-size: 10pt;
    transition: all 0.3s;
}

.shop-categories-items:hover {
    cursor: pointer;
}

/* Botões dos items da lista de categorias */
.shop-categories-buttons {
    height: 100%;
    color: #707070;
    background-color: transparent;
    border: 0px solid transparent;
    padding: 0px 10px;
}

.shop-categories-buttons:hover {
    color: #505050;
}

.shop-categories-buttons:active {
    color: #404040;
}

.shop-categories-buttons:focus {
    background-color: rgba(0, 0, 0, 0.05);
    filter: brightness(0.5);
}

/* Botões ativos dos items da lista de categorias */
.shop-categories-buttons.on {
    background-color: rgba(0, 0, 0, 0.05);
    filter: brightness(0.5);
    border-bottom: 2px solid;
}

/* Botão de abrir/fechar a barra de navegação */
.nav-buttons {
    background-color: rgba(240, 240, 240, 1);
    border-width: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 5px;
}

.nav-buttons:hover {
    cursor: pointer;
}

/* Remover botão de abrir/fechar barra de navegação quando a tela for menor que 768 pixels */
@media screen and (max-width: 768px) {
    .nav-buttons {
        display: none;
    }
}

/* Imagem de seta do botão */
#nav-button-image {
    width: 20px;
    filter: invert(1);
    transition: all 0.2s;
    padding: 4px 20px;
}

/* Aba do carrinho */
.carrinho-barra {
    width: 20rem;
    height: 70vh;
    position: absolute;
    background-color: #fff;
    writing-mode: horizontal-tb;
    right: 0%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px;
    transition: all 0.3s;
}

/* Aba do carrinho (tela maior que 768 pixels) */
@media screen and (min-width: 768px){
    .carrinho-barra.open {
        border-bottom-left-radius: 10px;
        overflow: auto;
        z-index: 1;
    }
}

/* Aba do carrinho aberta (tela menor que 768 pixels) */
@media screen and (max-width: 768px){
    .carrinho-barra.open {
        position: fixed;
        width: 100%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        overflow: auto;
        z-index: 1;
    }
}

/* Aba do carrinho fechada */
.carrinho-barra.closed {
    display: none;
}

/* Container do botão de fechar carrinho */
.carrinho-close-container {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 0;
    margin: 15px;
}

/* Container do botão de fechar carrinho (maior que 768px) */
@media screen and (min-width: 769px) {
    .carrinho-close-container {
        display: none;
    }
}

/* Botão do container de fechar carrinho */
.carrinho-close-button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-width: 0px;
}

/* Imagem do botão de fechar carrinho */
.carrinho-close-image {
    width: 100%;
    height: 100%;
    filter: invert(0.5);
}

/* Título da aba do carrinho */
.carrinho-barra-title {
    font-size: 16pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    margin: 10px 0;
}

/* Título da aba do carrinho (menor que 768px) */
@media screen and (max-width: 768px) {
    .carrinho-barra-title {
        font-size: 20pt;
        margin: 15px 0;
    }
}

/* Preço total */
#total-price {
    margin: 10px 0;
}

/* Botão de esvaziar carrinho */
.carrinho-empty-button {
    height: 30px;
    width: 120px;
    background-color: transparent;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    margin: 5px 0;
    transition: all 0.3s;
}

.carrinho-empty-button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

/* Principal (Vitrine) */
body {
    background-color: #f0f0f0;
}

/* Alinhar produtos */
.shop-produtos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
    gap: 1rem;
}

/* Resultados da pesquisa */
.shop-search-results {
    display: none;
}

/* Nenhum resultado encontrado */
.shop-search-results.none {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30rem;
}

/* Ao menos 1 resultado encontrado */
.shop-search-results.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

/* Div dos resultados encontrados */
.results-products-div {
    position: relative;
    top: 20px;
    margin: 0 30px;
}

/* Título de nenhum resultado encontrado */
#results-title {
    color: #303030;
    font-size: 18pt;
    font-weight: 400;
    margin: 1rem;
}

/* Span no título de nenhum resultado encontrado */
#results-title span {
    color: #202020;
    font-weight: 600;
}

/* Descrição de nenhum resultado encontrado */
#results-description {
    color: #404040;
    font-size: 14pt;
}

/* Título de produtos encontrados */
#results-products-found-title {
    color: #404040;
    font-size: 18pt;
    bottom: 20px;
}

/* Texto de produtos encontrados */
#results-products-found {
    color: #404040;
    font-size: 10pt;
}

/* Barra de produtos */
.shop-produto {
    width: 12.5rem;
    max-width: 20rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px;
    border-radius: 15px;
}

.shop-produto:hover {
    cursor: pointer;
}

/* Sessão do ícone das categorias */
.produto-icon-sections {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 2px;
    border-radius: 5px;
    padding: 2px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px;
}

/* Imagem da categoria dos produtos */
.product-categorie-icons {
    width: 20px;
}

/* Nome da categoria dos produtos */
.product-categorie-names {
    color: #fff;
    font-size: 8pt;
}

/* Nome dos produtos */
.produto-names {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

/* Section da imagem do produto */
.produto-image-section {
    max-width: 10rem;
    margin: 15px;
}

/* Imagem do produto */
.produto-image {
    height: 10rem;
}

/* Section do título do produto */
.title-section-separator { /* Separar imagem do título */
    height: 10px;
}

.title-div {
    margin: auto;
}

/*Alinnhar estrelas e total de avaliações */
.produto-rate-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px 0px;
}

/* Alinhar estrelas */
.stars-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* Div das avaliações */
.rating-div {
    margin-left: 5px;
}

/* Estrelas do produto */
.stars {
    width: 15px;
}

/* Total de avaliações */
.rating-texts {
    font-size: 10pt;
    color:rgb(150, 150, 150);
}

/* Section do desconto do produto */
.produto-discount-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0;
}

/* Texto do desconto do produto */
.produto-discount-texts {
    color: #808080;
    font-size: 10pt;
    text-decoration: line-through;
}

/* Span da porcentagem do desconto */
.produto-discount-spans {
    background-color: #30c060;
    color: #fff;
    padding: 2px;
    border-radius: 8px;
    font-size: 10pt;
}

/* Imagem do span de porcentagem de desconto */
.produto-discount-span-image {
    width: 10px;
}

/* Section do preço do produto */
.produto-price-section {
    margin: 10px 0px;
}

.produto-price-section.margin-0 {
    margin: 0;
}

/* Texto do preço do produto */
.produto-price-texts {
    font-size: 12pt;
    font-weight: 700;
}

/* Section do botão (adicionar ao carrinho) do produto */
.produto-button-section {
    margin: 10px 0px;
}

/* Botão de adicionar ao carrinho */
.produto-button {
    width: 10rem;
    height: 2rem;
    position: relative;
    text-align: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px;
    border: 1px solid #a0a0a0;
    border-radius: 10px;
    transition: all 0.3s;
}

.produto-button:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

.produto-button:active {
    filter: brightness(0.8);
}

.produto-button::after {
    content: "Adicionar ao carrinho"
}

.produto-button:focus:after {
    content: "Adicionado!";
    filter: brightness(0.7);
}

/* CONFIGURAÇÕES DO CARRINHO */
.carrinho-products {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #d0d0d0;
    transition: all 0.1s;
}

.carrinho-products:hover {
    background-color: #e0e0e0;
}

.carrinho-image-div {
    width: 25%;
}

/* Imagem do produto no carrinho */
.carrinho-product-images {
    width: 40px;
    height: 40px;
    padding: 2px;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
}

/* Alinhar nome e preço do produto no carrinho */
.carrinho-texts-flex {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Nome dos produtos no carrinho */
.carrinho-product-titles {
    font-size: 10pt;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

/* Preço dos produtos no carrinho */
.carrinho-product-prices {
    font-size: 10pt;
    font-weight: 600;
}

/* Botão de remover produto do carrinho */
.carrinho-product-buttons {
    font-size: 7pt;
    background-color: transparent;
    width: 60px;
    height: 20px;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    transition: all 0.3s;
}

.carrinho-product-buttons:hover {
    background-color: rgba(200, 0, 0, 0.1);
}

.carrinho-product-buttons:active {
    background-color: rgba(200, 0, 0, 0.3);
}